.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0b97ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #0b97ef;
  }
  
  .login-form p {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-form a {
    color: #0b97ef;
    text-decoration: none;
  }
  
  .login-form a:hover {
    text-decoration: underline;
  }